/*
 * Layout
 */
video {
    background:transparent;
}
.gallery-layout {
    --gutter: 2px;

    padding: calc(1 * var(--gutter));
}

.gallery-container {
    --columns: 1;
    --total-spacing: calc((var(--columns) - 1) * var(--gutter));

    padding: var(--gutter) 0px;
}

.gallery-item-sizer,
.gallery-item {
    width: calc((100% - var(--total-spacing)) / var(--columns));
}

.gallery-gutter-sizer {
    width: var(--gutter);
}

@media (min-width: 375px) {
    .gallery-container {
        --columns: 2;
        --gutter: 2px;
    }
}

@media (min-width: 768px) {
    .gallery-container {
        --columns: 3;
        --gutter: 4px;
    }
}

@media (min-width: 1024px) {
    .gallery-container {
        --columns: 4;
        --gutter: 6px;
    }
}

@media (min-width: 1440px) {
    .gallery-container {
        --columns: 5;
        --gutter: 8px;
    }
}

.gallery-item:hover img {
    transform: scale(1.04);
}

/*
 * Media Info
 */

.media-info {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: 8px;
    left: 8px;
    padding: 0.3rem 0.6rem;
    border-radius: 16px;
    /* transform: translateY(150%); */
    transition: opacity transform 0.8s ease;
    color: var(--text);
    background: var(--glass-bg);
    border-radius: 8px;

    font-size: 0.75rem;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

.gallery-item:hover .media-info {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}

.folder-badge {
    position: absolute;
    bottom: 8px;
    right: 8px;
    padding: 0.3rem 0.6rem;
    border-radius: 16px;
    color: var(--text);
    background: var(--glass-bg);
    border-radius: 8px;

    font-size: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    z-index: 2;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

/*
 * Dragging
 */

.gallery-item.is-dragging,
.gallery-item.is-positioning-post-drag {
    z-index: 2;
}

.packery-drop-placeholder {
    outline: 0.125rem dashed var(--bs-border-color);
    outline-offset: -0.125rem;
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
}

/*
 * Fancybox
 */

.fancybox__backdrop {
    /* background: rgba(0, 0, 0, 0.5); */
    backdrop-filter: blur(5px);
}
