.gallery-container {
    --columns: 1;
    --gutter: 1px;
    --total-spacing: calc((var(--columns) - 1) * var(--gutter));

    padding: var(--gutter) 0px;
}

.gallery-item-sizer,
.gallery-item {
    width: calc((100% - var(--total-spacing)) / var(--columns));
}

.gallery-gutter-sizer {
    width: var(--gutter);
}

@media (min-width: 375px) {
    .gallery-container {
        --columns: 2;
        --gutter: 2px;
    }
}

@media (min-width: 768px) {
    .gallery-container {
        --columns: 3;
        --gutter: 4px;
    }
}

@media (min-width: 1024px) {
    .gallery-container {
        --columns: 4;
        --gutter: 6px;
    }
}

@media (min-width: 1440px) {
    .gallery-container {
        --columns: 5;
        --gutter: 8px;
    }
}

/*
 * Media Info
 */

.play-icon {
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.media-info {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    bottom: var(--gutter);
    left: var(--gutter);
    padding: 0.3rem 0.8rem;
    border-radius: 16px;
    /* transform: translateY(150%); */
    transition: transform 0.8s ease;
    color: var(--text);
    background: var(--glass-bg);
    border-radius: 16px;

    font-size: 0.75rem;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(60px);
}

.gallery-item:hover .media-info {
    opacity: 1;
    visibility: visible;
    transform: translateY(0%);
}

.folder-badge {
    position: absolute;
    bottom: var(--gutter);
    right: var(--gutter);
    padding: 0.3rem 0.8rem;
    border-radius: 16px;
    color: var(--text);
    background: var(--glass-bg);
    border-radius: 16px;

    font-size: 0.75rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    z-index: 2;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
}

/*
 * Page Loader
 */

.loader-ellips {
    font-size: 36px;
    width: 4rem;
    height: 1rem;
}

.loader-ellips__dot {
    width: 1rem;
    height: 1rem;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
    left: 0;
}

.loader-ellips__dot:nth-child(3) {
    left: 1.5rem;
}

.loader-ellips__dot:nth-child(4) {
    left: 3rem;
}

@keyframes reveal {
    from {
        transform: scale(0.001);
    }
    to {
        transform: scale(1);
    }
}

@keyframes slide {
    to {
        transform: translateX(1.5rem);
    }
}

.loader-ellips__dot:nth-child(1) {
    animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
    animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}

/*
 * Dragging
 */

.gallery-item.is-dragging,
.gallery-item.is-positioning-post-drag {
    z-index: 2;
}

.packery-drop-placeholder {
    outline: 0.125rem dashed var(--bs-border-color);
    outline-offset: -0.125rem;
    transition: transform 0.2s;
    -webkit-transition: -webkit-transform 0.2s;
}
