{% for item in items %} {% if item.type == "image" or item.type == "video" %}
<a
    class="gallery-item d-flex flex-column wow fadeIn"
    data-fancybox="gallery"
    data-caption="{{ item.name }}"
    data-src="{{ url_for('gallery.media', path=item.path) }}"
>
    <img
        class="d-block"
        src="{{ url_for('gallery.thumbnails', path=item.thumb) }}"
        alt="{{ item.name }}"
        loading="lazy"
    />
    {% if item.type == "video" %}
    <div
        class="play-icon position-absolute top-50 start-50 translate-middle text-light"
    >
        <i class="fas fa-play"></i>
    </div>
    {% endif %}
    <div class="media-info text-light user-select-all wow fadeIn">
        <div class="media-title">{{ item.name }}</div>
    </div>
</a>
{% else %}
<a
    class="gallery-item d-flex flex-column wow fadeIn"
    href="{{ url_for('gallery.path', path=item.path) }}"
>
    <img
        class="d-block"
        src="{{ url_for('gallery.thumbnails', path=item.thumbnail.thumb) }}"
        alt="{{ item.name }}"
        loading="lazy"
    />
    <div class="media-info text-light user-select-all">
        <div class="media-title">{{ item.name }}</div>
    </div>
    <div class="folder-badge text-light user-select-all">
        <i class="fas fa-folder-open"></i>
        <span>{{ item.comment }}</span>
    </div>
</a>
{% endif %} {% endfor %}
